{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}">Back To <strong>Home</strong></a>
    <div class="form">
         <label for="email">Your Email</label><br>
         <input type="email" name="email"><br>
         <label for="text">Your Messages</label><br>
         <input type="text" name="text">
    </div>
    <button type="submit">Send</button>
</body>
</html>